PORT=5000
MONGODB_URI=mongodb://<db_username>:ei67r9xHMvZyNK3i@ac-oay6uj1-shard-00-00.2cbjujn.mongodb.net:27017,ac-oay6uj1-shard-00-01.2cbjujn.mongodb.net:27017,ac-oay6uj1-shard-00-02.2cbjujn.mongodb.net:27017/?ssl=true&replicaSet=atlas-h3bqda-shard-0&authSource=admin&appName=Cluster0
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
WHATSAPP_PUBLIC_NUMBER=
TWILIO_WEBHOOK_URL=
TWILIO_VALIDATE_WEBHOOK=false
