PORT=5000

PUBLIC_BASE_URL=https://<current-ngrok-domain>

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<cluster-url>/<database>?retryWrites=true&w=majority

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

TWILIO_WHATSAPP_NUMBER=
WHATSAPP_PUBLIC_NUMBER=

TWILIO_WEBHOOK_URL=

TWILIO_VALIDATE_WEBHOOK=false

GEMINI_API_KEY=